.speaking {
  position:relative;
  animation-name: speak-now;
  animation-duration: 1s;
  animation-fill-mode:forwards;
}

@keyframes speak-now {
  0% {
    box-shadow: 0 0 4px #ffffff;
  }
  50% {
    box-shadow: 0 0 16px #ffffff;
  }
  100% {
    box-shadow: 0 0 4px #ffffff;
  }
}